body{
    
    background-image: url(Hydrangeas.jpg);
    background-repeat: no-repeat;
    background-position: none;
    background-attachment: fixed;
    background-size: 1500px;

    color: white;
    font-size: 20px;


}