button {
	width: 100px;
	font-size: 50px;
	font-style: italic;
	color: red;
	background-color: yellow;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
}

.anim {
	box-shadow: 0 15px 15px 0 green;
	opacity: 0.5;
}